* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Lora;
  font-weight: bold;
  font-size:18px;
  color: aliceblue;
}
button.primary {
  width: 160px;
  height: 62px;
  border-radius: 30px;
  border-color: rgb(168, 168, 169) ;
  background-color: transparent;
}
button a {
  text-decoration: none;
  font-size: 23px;
  font-weight: bold;
  text-transform: capitalize;
  color:aliceblue;
}
button.primary:hover {
  background: rgb(213, 213, 136);
}
button.primary:hover a{
  color: brown;
}


